@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var Username = "TheUserNameOnTHePage";
    <p>Username the first time: @Username</p>

    string[] people = { "Alex", "Peter", "Phil" };
}

<div>
    3 &lt; 5
    &amp;
</div>

@{
    Username = "ADifferentUsername";
}
<div class="text-center">
    <h1 class="display-4">Hello there!</h1>
    <p>The current time is @DateTime.Now</p>
    <p>amillerman01@@stclaircollege.ca</p>
    <p>@Username</p>
    <p>@Model.Username</p>
    <p>@DateTime.IsLeapYear(2020)</p>
    <p>This time last week: @(DateTime.Now - TimeSpan.FromDays(7))</p>
    <p>@("<span>A string in c#</span>")</p>


    <div>
        @for (var i = 0; i < people.Length; i++)
        {
            var person = people[i];
            <text>Name: @person</text>
        }
    </div>
</div>
